
//https://web.dev/viewport-units/
//https://usbrandcolors.com/twitter-colors/
.formContainer {
    background-color: #119ea6;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
//https://developer.mozilla.org/en-US/docs/Web/CSS/columns 
 .signContainer{
    background-color: #F5F8FA;
    padding: 50px 120px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
 }
 input{
    background-color: #eee;
	border: none;
	padding: 12px 15px;
	width: 100%;
 }
 .h1{
    font-weight: bold;
    color: #14171A;
    margin: 0;
 }
 .h2{
    color: #14171A;
 }
 .btn{
    align-items: center;
    border-radius: 10px;
	 background-color: black;
	 color: white;
	 font-size: 12px;
	 font-weight: bold;
	 padding: 12px 45px;
 }
} 

.App{
   background-color: #06a263;
}
.header{
   flex-direction: row;
   align-items: center;
}
.navbar-logo{
   width: 50px;
   height: 50px;
}
.container-fluid{
   background-color: rgba(150, 118, 218, 0.477);
   border-color: black;
}